In [26]:
import pandas as pd
import math

In [27]:
df = pd.read_csv('train_table.csv')

In [28]:
df

,Article,Sentence,Span,Start,End
0,article111111111,Next plague outbreak in Madagascar could be 's...,NaN,-1,-1
1,article111111111,Geneva - The World Health Organisation chief o...,appeared,88,96
2,article111111111,"""The next transmission could be more pronounce...",The next transmission could be more pronounced...,1,59
3,article111111111,"An outbreak of both bubonic plague, which is s...",NaN,-1,-1
4,article111111111,Madagascar has suffered bubonic plague outbrea...,NaN,-1,-1
...,...,...,...,...,...
16661,article999001970,“I really dislike when people who are older sa...,NaN,-1,-1
16662,article999001970,Obviously the world is not a safe space but ju...,NaN,-1,-1
16663,article999001970,“When older generations say you need to stop b...,NaN,-1,-1
16664,article999001970,Patel is 32.\n,NaN,-1,-1
16665,article999001970,"I'm sure Patel felt very, like, accepted.\n","I'm sure Patel felt very, like, accepted",0,40

In [29]:
df['sentence'] = ''
df['span'] = ''
df['propaganda'] = ''

In [30]:
for index, row in df.iterrows():
    if isinstance(row['Span'], float): 
        df.at[index, 'propaganda'] = 0
        df.at[index, 'span'] = row['Sentence']
        df.at[index, 'sentence'] = row['Sentence']
    else:
        df.at[index, 'propaganda'] = 1
        df.at[index, 'sentence'] = row['Sentence']
        df.at[index, 'span'] = row['Span']

In [33]:
df = df.drop(columns=['Sentence', 'Article', 'Span', 'Start', 'End'])

In [34]:
df.to_csv('test.csv')